node_modules
.github
.env
.env.example
.env.production
.DS_Store
dist
.vscode
.README.md
BarcodeScanner.jsx
ANDROID_FACE_ATTENDANCE_API.md
face-recognition-service/requirements.txt
FACE_RECOGNITION_SETUP.md
