@media print {
  .sidebar,
  .topbar,
  nav,
  header,
  button,
  .no-print,
  .screen-only {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
  }

  .barcode-print-container {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    background: white !important;
    margin: 0;
    padding: 15mm;
  }

  @page {
    size: A4;
    /* margin: 0mm; */
  }

  * {
    box-shadow: none !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

.print-only {
  display: none;
}

.screen-only {
  display: block;
}